---
layout: default
---

<main class="posts">
  {% for post in paginator.posts %}
  <article class="postz">
<div class="post-image"><a href="{{ site.baseurl }}{{ post.url }}"><img class="postthumb" src="{{ post.image }}" alt="{{ post.image }}"></a></div>
<div class="post-content">
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
<p class="excerpt">
      {% if post.content contains '<!--more-->' %}

      {{ post.excerpt }}

      {% else %}

      {{ post.excerpt | markdownify | strip_html | truncate: 160 }}

      {% endif %}
  </p>
    </div>
    
  </article>
  {% endfor %}

  {% include pagination.html %}
</main>
